body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#single img {
  max-width: 60%;
  max-height: 60%;
}


#home {
  display: flex;
  justify-content: space-around;
}

#home form {
  width: 40%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}
